colorama==0.3.7
coverage==4.0.3
future==0.15.2
html5lib==0.9999999
intervaltree==2.1.0
lockfile==0.12.2
pluggy==0.3.1
psycopg2==2.7.dev0
py==1.4.31
pylru==1.0.9
pysha3==0.3
pytest==2.9.1
pytest-cov==2.2.1
PyYAML==3.11
requests==2.10.0
six==1.10.0
sortedcontainers==1.4.4
tox==2.3.1
virtualenv==15.0.1
