appdirs==1.4.3
chardet==2.3.0
colorama==0.3.7
coverage==4.3.4
decorator==4.0.11
future==0.16.0
html5lib==0.999999999
intervaltree==2.1.0
ipython-genutils==0.2.0
lockfile==0.12.2
-e git+https://github.com/Mumbleskates/mumblecode.git@895b08db2cc9829f10628bf1d4c6ee79a68904cc#egg=mumblecode
packaging==16.8
pluggy==0.4.0
psycopg2==2.7.1
py==1.4.33
Pygments==2.2.0
pylru==1.0.9
pyparsing==2.2.0
pysha3==1.0.2
pytest==3.0.7
pytest-cov==2.4.0
PyYAML==3.12
requests==2.20.1
simplegeneric==0.8.1
six==1.10.0
sortedcontainers==1.5.7
tox==2.6.0
tqdm==4.11.2
traitlets==4.3.2
virtualenv==15.1.0
webencodings==0.5.1
