colorama==0.3.7
coverage==4.2
future==0.16.0
html5lib==0.999999999
intervaltree==2.1.0
lockfile==0.12.2
pluggy==0.4.0
psycopg2==2.6.2
py==1.4.31
pylru==1.0.9
pysha3==0.3
pytest==3.0.4
pytest-cov==2.4.0
PyYAML==3.12
requests==2.12.3
six==1.10.0
sortedcontainers==1.5.4
tox==2.5.0
tqdm==4.10.0
virtualenv==15.1.0
webencodings==0.5
